%h2 Add new Question
= simple_form_for(@question) do |f|
  - if @question.errors.any?
    #error_explanation
      %h2
        = pluralize(@question.errors.count, "error")
        prohibited this question from being saved:
      %ul
        - @question.errors.full_messages.each do |message|
          %li= message
  .field
    = f.input :body
  .field
    = f.input :city_id, collection: City.all, input_html: {data: { 'live-search': true }}
  .actions
    = f.submit 'Add new question', class: 'btn btn-primary'
