.row
  .col-md-6
    %h2
      = @question.body
    %p
      = @question.city.name
      \/
      = @question.city.country.name
    %h2 
      = @question.answers.count
      Answers
    - if @question.answers.any?
      - @question.answers.each do |answer|
        - if answer.persisted?
          .well
            = answer.body
            %br/
            = answer.created_at.strftime("%Y-%m-%d")
  .col-md-6
    %h2 Add new
    = simple_form_for([@question, @answer]) do |f|
      - if @answer.errors.any?
        #error_explanation
          %h2
            = pluralize(@answer.errors.count, "error")
            prohibited this question from being saved:
          %ul
            - @answer.errors.full_messages.each do |message|
              %li= message
      .field
        = f.input :body
      .actions
        = f.submit 'Submit', class: 'btn btn-primary'
